<h1>Source Show</h1>
<strong>Title:</strong> <%= @source.title %></br>
<strong>Year:</strong> <%= @source.year %></br>
<strong>Purpose:</strong> <%= @source.purpose %></br>
<% unless @source.discard_reason.blank? %>
<strong>Discard Reason:</strong> <%= @source.discard_reason %></br>
<% end %>
<strong>Topic:</strong> <%= @source.topic.name %></br>
<strong>Processed:</strong> <%= @source.processed %></br>
</br>
<h2>Source Authors:</h2>
<ul><% @source.authors.each do |author| %>
  <li><%= author.given_name %> <%= author.family_name %></li>
<% end %></ul>
</br>
<% @stats.each do |key,counts|
  stat_pack = counts.values.extend(DescriptiveStatistics)
end %>
<% unless @stats.values.empty? %>
<table>
    <tr>
      <th>Type</th>
      <% @stats.values[0].keys.each do |key| %>
      <th><%= key %></th>
      <% end %>
    </tr>
    <% @stats.each do |key,stats| %>
    <tr>
      <th><%= key %></th>
      <% stats.keys.each do |stat_key| %>
      <th><%= stats[ stat_key ] %></th>
      <% end %>
    </tr>
    <% end %>
</table>
<% end %>

<i><strong>Citation:</strong> <%= @source.citation %></i>

<% unless @source.unverifieds.empty? %>
  <h2>Spelling problems:</h2>
  <ul><% @source.unverifieds.each do |unver| %>
    <li>
      <%= unver %>
      <ol><% Spellchecker.check( unver, dictionary = 'en' )[ 0 ][:suggestions].each do |sugg| %>
        <li><%= sugg %></li>
      <% end %></ol>
    </li>
  <% end %></ul>
<% end %>
<br><br>

<input type="hidden" id="granularity" value="sources">
<input type="hidden" id="source_id" value="<%=@source.id %>">
<select id="word_count_opt">
  <option>Words</option>
  <option>Stems</option>
  <option>Synonyms</option>
</select><br>
<select id="slice_opt">
  <option>All</option>
  <option>bottom</option>
  <option>lower half</option>
  <option>upper half</option>
  <option>within 1sd</option>
  <option>within 2sd</option>
  <option>lower 1sd</option>
  <option>upper 1sd</option>
  <option>lower 2sd</option>
  <option>between 1sd and 2sd up</option>
  <option>upper 2sd</option>
  <option>top</option>
</select><br>
<select name="words" id="words" size="30">
</select>
<svg id="word_counts" width="500" height="500" font-family="sans-serif"
  font-size="10" text-anchor="middle">
</svg>


<h2>Factors:</h2>
<ul><% @source.factors.each do |factor| %>
  <li>
    <%= factor.text %>
    <ul>
    <% factor.words.each do |word| %>
      <li>
        <%= word.raw %> | <%= word.stem.word %>
      </li>
    <% end %>
    </ul>
    <% unless factor.unverified.blank? %>
    <li>Unverified: <%= factor.unverified %></li>
    <% end %>
  </li>
<% end %></ul>


<h2>Cited Sources:</h2>
<ul><% @source.refs.each do |ref| %>
  <li><%= ref.citation %></li>
<% end %></ul>
<select id="relate_opt">
  <option>Authors</option>
  <option>Sources</option>
</select><br>
<svg id="relationships" width="500" height="500" 
  font-family="sans-serif" font-size="10" text-anchor="middle">
</svg>


<h1>Add Sources</h1>
<%= form_tag add_refs_to_source_path( @source ) do %>
  <%= text_area_tag 'sources', '', size: "100x25" %>
  <%= submit_tag 'Add ''em!' %>
<% end %>

<%= link_to "Edit Source", edit_source_path( @source ) %><br>
