<h1>Show Dataset</h1>
<strong>Name:</strong> <%= @dataset.name %></br>
<p>This dataset contains <%= @dataset.factors.count %> factors.
  So far, <%= @dataset.sources.count %>
  sources (below) contribute to this data.
</p>
<table>
    <tr>
      <th>Type</th>
      <% @stats.values[0].keys.each do |key| %>
      <th><%= key %></th>
      <% end %>
    </tr>
    <% @stats.each do |key,stats| %>
    <tr>
      <th><%= key %></th>
      <% stats.keys.each do |stat_key| %>
      <th><%= stats[ stat_key ] %></th>
      <% end %>
    </tr>
    <% end %>
</table>
<br><br>
<%= link_to 'Re-Calculate Stats', calc_dataset_stats_path( @dataset ) %></br>
<br>
<%= @dataset.percent_processed %>% Sources Processed&nbsp;
    <%= link_to '[re-process dataset sources]', process_dataset_path( @dataset ) %></br>
<br>

<input type="hidden" id="granularity" value="datasets">
<input type="hidden" id="source_id" value="<%=@dataset.id %>">
<select id="word_count_opt">
  <option>Words</option>
  <option>Stems</option>
  <option>Synonyms</option>
</select><br>
<select id="slice_opt">
  <option>All</option>
  <% unless @dataset.stats_cache.blank? %>
  <option>bottom</option>
  <option>lower half</option>
  <option>upper half</option>
  <option>within 1sd</option>
  <option>within 2sd</option>
  <option>lower 1sd</option>
  <option>upper 1sd</option>
  <option>lower 2sd</option>
  <option>between 1sd and 2sd up</option>
  <option>upper 2sd</option>
  <option>top</option>
  <% end %>
</select><br>

<svg id="word_counts" width="500" height="500" font-family="sans-serif"
  font-size="10" text-anchor="middle">
</svg>
<ul><% @dataset.sources.each do |source| %>
  <li>
     <%= link_to source.citation, source_path( source ) %> 
      <ul>
        <li><%= source.processed ? 'Processed' : 'Unprocessed' %></li>
        <li><%= link_to '[process]', process_source_path( source ) %></li>
        <li>References: <%= source.refs_processed ? 'Fully Processed' : 'Incomplete' %></li>
        <li><%= source.unverifieds.blank? ? 'OK' : raw( '<strong>spelling problems</strong>') %></li>
      </ul>
  </li>
<% end %></ul>

<%= link_to "Edit Dataset", edit_dataset_path( @dataset ) %><br>
