<h1>Show Dataset</h1>
<strong>Name:</strong> <%= @dataset.name %></br>
<p>This dataset contains <%= @dataset.factors.count %> factors.
  So far, <%= @dataset.sources.count %>
  sources (below) contribute to this data.
</p>
<table>
    <tr>
      <th>Type</th>
      <th>Entry Count</th>
      <th>Min</th>
      <th>Max</th>
      <th>Mean</th>
      <th>Median</th>
      <th>Standard Deviation</th>
      <th>Range</th>
      <th>Mode</th>
    </tr>
    <% @stats.each do |key,counts|
      stat_pack = counts.values.extend(DescriptiveStatistics)%>
    <tr>
      <th><%= key %></th>
      <th><%= stat_pack.count %></th>
      <th><%= stat_pack.min %></th>
      <th><%= stat_pack.max %></th>
      <th><%= stat_pack.mean %></th>
      <th><%= stat_pack.median %></th>
      <th><%= stat_pack.standard_deviation %></th>
      <th><%= stat_pack.range %></th>
      <th><%= stat_pack.mode %></th>
    </tr>
    <% end %>
</table>
<br><br>

<input type="hidden" id="granularity" value="datasets">
<input type="hidden" id="source_id" value="<%=@dataset.id %>">
<select id="word_count_opt">
  <option>Words</option>
  <option>Stems</option>
  <option>Synonyms</option>
</select><br>

<svg id="word_counts" width="500" height="500" font-family="sans-serif"
  font-size="10" text-anchor="middle">
</svg>
<%= @dataset.percent_processed %>% Sources Processed&nbsp;
    <%= link_to '[re-process dataset sources]', process_dataset_path( @dataset ) %></br>
<ul><% @dataset.sources.each do |source| %>
  <li>
     <%= link_to source.citation, source_path( source ) %> 
      <ul>
        <li><%= source.processed ? 'Processed' : 'Unprocessed' %></li>
        <li><%= link_to '[process]', process_source_path( source ) %></li>
        <li>References: <%= source.refs_processed ? 'Fully Processed' : 'Incomplete' %></li>
        <li><%= source.unverifieds.blank? ? 'OK' : raw( '<strong>spelling problems</strong>') %></li>
      </ul>
  </li>
<% end %></ul>

<%= link_to "Edit Dataset", edit_dataset_path( @dataset ) %><br>
