<%= link_to "Edit Dataset", edit_dataset_path( @dataset ) %>&nbsp;>&nbsp;
<%= link_to "Back to list of datasets", root_path %>
<h1>Show Dataset</h1>
<strong>Name:</strong> <%= @dataset.name %></br>
<p>This dataset contains <%= @dataset.factors.count %> factors, yielding
  <%= @dataset.words.uniq.count %> distinct words yielding
  <%= @dataset.stems.uniq.count %> unique stems. So far, <%= @dataset.sources.count %>
  sources (below) contribute to this data.
</p>
<%= @dataset.percent_processed %>% Sources Processed&nbsp;
    <%= link_to '[re-process dataset sources]', process_dataset_path( @dataset ) %></br>
<ul><% @dataset.sources.each do |source| %>
  <li><%= link_to source.citation, source_path( source ) %> 
    <%= link_to '[process]', process_source_path( source ) %>
  </li>
<% end %></ul>

<%= link_to "Edit Dataset", edit_dataset_path( @dataset ) %>&nbsp;|&nbsp;
<%= link_to "Back to list of datasets", root_path %>
