<H1>Existing Datasets</H1>
<ul>
  <% @datasets.each do |ds| %>
  <li><%= link_to ds.name,  dataset_path( id: ds.id ) %>
        [ <%= ds.load_pct %>% loaded | <%= ds.percent_processed %>% processed &mdash;
          <%=link_to 'process now', process_dataset_path( ds ) %>&nbsp;|&nbsp;
          <%= link_to 'Destroy', ds, method: :delete, data: { confirm: "Are you sure?" } %>]</li>
  <% end %>
</ul>
<h1>Your Spreadsheets</h1>
<ul>
  <% @sheets.each do |ss| %>
  <li><%= link_to ss.title, ss.human_url, target: '_blank' %> |
    <%= link_to 'process', new_dataset_path( key: ss.key ) %></li>
  <% end %>
</ul>
